<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWsOperationsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52115/WsOperationsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsOperationsService"
                contract="WsOperationsService.IWsOperationsService" name="BasicHttpBinding_IWsOperationsService" />
        </client>
    </system.serviceModel>
</configuration>